<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="SavePath" value="D:\下载音乐" />
        <add key="DownloadQuality" value="999000" />
        <add key="IfDownloadLrc" value="True" />
        <add key="IfDownloadPic" value="True" />
        <add key="SaveNameStyle" value="0" />
        <add key="SavePathStyle" value="0" />
        <add key="SearchQuantity" value="100" />
    </appSettings>
</configuration>